<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Aria</title>
</head>
<body>
<div class="container">
    
    <!-- Dashboard -->
    <div class="heading">
        <h1>Game Statistics Dashboard</h1>
    </div>
    <div class="dashboard">
        <div>
            <div class="username">
                <input type="text" placeholder="Type in username" id="username">
            </div>
            <div class="status">
                <p id="username_display">enter a username</p>
            </div>
        </div>
        <div class="widgets" id="widgets">
            <div class="minutes" id="minutesPlayed_wid">
                <h3 class="widget_header">Time played</h3>
                <h1 class="value" id="minutesPlayed">-</h1>
            </div>

            <div class="matches" id="matches_wid">
                <h3 class="widget_header">Matches</h3>
                <h1 class="value" id="matches">-</h1>
            </div>

            <div class="widget1" id="wins_wid">
                <h3 class="widget_header" id="header1">Wins</h3>
                <h1 class="value" id="wins">-</h1>
            </div>

            <div class="widget2" id="kd_wid">
                <h3 class="widget_header">K/D-Rate</h3>
                <h1 class="value" id="kd">-</h1>
            </div>

            <div class="widget3", id="winRate_wid">
                <h3 class="widget_header">Win %</h3>
                <h1 class="value" id="winRate">-</h1>
            </div>

            <div class="widget4" id="kills_wid">
                <h3 class="widget_header">Kills</h3>
                <h1 class="value" id="kills">-</h1>
            </div>

            <div class="plot" id="plot">
                <img src="../static/plots/empty_plot.png" alt="empty" height="300">
            </div>
            
        </div>

        </div>
    </div>

    <!-- Chat Box -->
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="../static/images/Character.png" alt="image" width="50" height="50">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Aria</h4>
                    <p class="chatbox__description--header">online</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Ask me anything ...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon_blue.svg') }}" /></button>
        </div>
    </div>
</div>

    <script type = text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>